node_modules
/public/hot
/public/storage
/public/images
/public/*.jpeg
/public/*.jpg
/storage/*.key
/vendor
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.phpunit.result.cache
google-application-credentials.json
composer.lock

Dockerfile
build-deploy/first-run.sh
build-deploy/image/run.sh
build-deploy/nginx/domains.d/app.local.conf
build-deploy/run.sh
build-deploy/prepare.sh
docker-compose.yml
.env

#VIM
*.un~
*.md~
*.js~
*.swp
*.swo
*.swn
*.swm
*.*~

.work
