// Nova Card CSS
#map {
  position: relative;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 500px;
}
#stats {
  margin-top: 10px;
  padding: 15px 0;
  color: #666666;
}

#attributes {
  margin: 20px 0;
  text-align: left;
  column-count: 4;
  .attribute {
    display: block;
    i {
      color: #444444;
    }
  }
}

.show_attributes {
  margin: 10px 0 25px;
}